.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 0.853);
    background-color: #081b29;
}

.logo{height: 50%;}
